*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($medium-blue-color, 0.6);
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($dark-blue-color, 0.6);
}