$light-blue-color: #8e9efc;
$medium-blue-color: #5e76fa;
$dark-blue-color: #1c3eff;
$black-color: #000;
$gray-color: #555;
$gray-light-color: #666;
$white-color: #fff;
$grey-light-color: #f7f7f7;
$grey-dark-color: #d5d5d5;
$medium-orange-color: #ffb900;
$dark-orange-color: #ff7730;
$medium-green-color: #68e190;
$dark-green-color: #24a572;
